*{
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	background-image: url(image/image.png);
	background-repeat:no-repeat;
	background-size: 100%;
}

.container {
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 20px;
	
}


h1 {
	color: yellow;
	font-family: Apple Chancery;
	font-size: 100px;
	text-align: center;
	margin: 0 auto;
}

nav {
	float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #00FFFF;
}

nav li {
	display: inline-block;
	margin: 0 20px;
}

nav a {
    color: #FF4500;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 30px;
}

p {
	color: #00FF00;
	font-family: Perpetua;
	font-size: 60px;
	text-align: center;
	margin-top: 1em;
}

.linktext{
	clear: both;
}

.linktext h2 {
	color: #7FFFD4;
	float: right;
	font-family: Palatino;
	font-size: 40px;
}

.linktext h3 {
	color: #0000CD;
	float: left;
	font-family: Bodoni MT;
	font-size: 40px;
}

#collage img {
	width: 50%;
	height: 50%;
	margin-top: 4em;	
}

#freeform {
	width: 50%;
	height: 30%;
	margin: 0 22em;
}